<h3 class = "text-center">Post Edit</h3>

<div class = "container">
    
    <%= form_with model: @cafe_post do |f| %>
    
    <div class = "row">
        <div class = "col-3">
            <p>Cafe name</p>
        </div>
        <div class = "col-9">
            <%= @cafe_post.cafe.cafe_name %>
        </div>

    <div class = "col-3">
        <p>Cafe Post</p>
    </div>
     <div class = "col-6">
      <%= f.text_area :cafe_comment, class: 'form-control my-2' %>
     </div>
     <div class = "col-3"></div>

    <div class = "col-3">
         <p>Image</p>
     </div>
    <div class = "col-9">
            <%= f.file_field :image, accept: "image/*" %>

        </div>
    </div>
    
    
    <div class = "text-center">
        <%= f.submit '保存', class: "btn btn-success my-4" %>
    </div>

<% end %>

    </div>
</div>