<h3 class = "text-center"><%= @user.name %></h3>

<div class = "container">

<div class = "text-right">
  <%= link_to "いいねした投稿", likes_user_path(@user), class: "btn btn-primary mx-2 my-2" %>
 <% if @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-primary mx-2 my-2" %>
     <%= link_to "退会手続き", unsubscribe_path, class: "btn btn-danger mx-2 my-2" %>
  <% end %>
</div>



  <div class = "row">
  
  
  <div class = "col-3"></div>
  <div class = "col-3">
    <%= image_tag @user.get_profile_image(100,100), class: "mb-4" %>
  </div>
 
  <div class = "col-6">
    <%= @user.introduction %>
  </div>
  

 
  
  <div class = "col-3"></div>
  <div class = "col-6">
 
<table class="table">
        <thead>
            <tr>
              
              <th scope="col">Cafe name</th>
              <th scope="col">Post</th>
              
            </tr>
         </thead>
    
    <tbody>
      <% @cafe_posts.each do |cafe_post| %>
        <tr>
          <td>
            <%= cafe_post.cafe.cafe_name %>
          </td>
          <td>
            <%= link_to cafe_post.cafe_comment, cafe_post_path(cafe_post.id) %>
          </td>
        </tr>
        <% end %>
    </tbody>

</div>


</div>

</div>