<h4>編集</h4>

<%= form_with model: @cafe do |f| %>

<h4>カフェ名</h4>
  <%= f.text_field :cafe_name %>

  <h4>カフェ住所</h4>
  <%= f.text_field :address %>


  <div class="check_box">
    <span>エリアタグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
     <div>
       <%= tag.label do %>
         <%= tag.check_box %>
         <%= tag.text %>
       <% end %>
     </div>
   <% end %>
 </div>


  <%= f.submit '保存' %>

<% end %>
