
<h3 class= "text-center">Cafe</h3>

<div class = "container">
  
  <div class = "row">
    <div class = "col-3">
      
     <p>Cafe name</p>
     </div>
     <div class = "col-9">
      <%= @cafe.cafe_name %>
    </div>
    <div class = "col-3">
      <p>住所</p>
    </div>
    <div class = "col-9">
      <%= @cafe.address %>
    </div>
    <div class = "col-3">
      <p>エリア</p>
    </div>
    <div class = "col-9">
      <% @cafe.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </div>

   
    <div class = "col-2">
      <%= link_to "投稿する", new_cafe_post_path(cafe_id: @cafe.id), class: "btn btn-success" %>
    </div>

    <div class = "col-2">
      <%= link_to "編集", edit_cafe_path(@cafe.id), class: "btn btn-primary" %>
    </div>
    

  



    </div>
  </div>
</div>